<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Чат поддержки</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
 <div class="container">
  <h2>Чат поддержки</h2>
	
	<!-- Блок для flash-сообщений -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flash-messages">
          {% for category, message in messages %}
            <div class="flash-message
              {% if category == 'error' %}flash-error
              {% elif category == 'success' %}flash-success
              {% else %}flash-info
              {% endif %}">
              {{ message }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
	
	<div id="chat-box">
		<!--
		{% for msg in messages %}
		<div class="msg {% if msg.type == 'admin' %}textAdmin{% else %}textUser{% endif %}">
			{{ msg.text | safe }}
		</div>
		{% endfor %}
		-->
		
		{% for msg in messages %}
        <div class="message {{ msg.type }}">
            <div class="message-content">{{ msg.text|safe }}</div>
            <div class="timestamp">{{ msg.timestamp }}</div>
        </div>
        {% endfor %}
		
  	</div>

	<!-- Для демонстрации сохраненной XSS - <script>alert(1)</script> -->
  	<form id="message-form" action="/send" method="post">
		<input type="hidden" name="dialog_id" value="{{ dialog_id }}">    	
		<input type="text" id="message" name="message" placeholder="Введите сообщение" required>
		<input type="hidden" name="csrf_token" value="{{csrf}}">
    	<button type="submit">Отправить</button>
  	</form>

	<!-- Выход -->
	<form action="/logout" method="post" class="auth-form">
		<button type="submit" class="submit-btn">Выход</button>
	</form>
 </div>
</body>
</html>